@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}

.button {
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  background: #b8f2e6;

  outline: none;
  border: 2px solid rgb(69, 178, 247);

  cursor: pointer;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;
  width: 48%;
}

.button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}

.input {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
  width: 360px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 20px;
  color: #010511;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}

.input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

.input::placeholder {
  font-style: italic;
  font-size: 16px;
}

.label {
  display: block;
  font-size: 24px;
  font-weight: 600;
}
