.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: #2a363b;
  font-size: 22px;
  margin-bottom: 10px;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  composes: link;
  color: #e84a5f;
}
